<div class="wrapper">
  <div class="column-layout">
    <div class="main-column">
    {% block main %}
      main
    {% endblock %}
    </div>
    <div class="sub-column">
    {% block sub %}
      sub
    {% endblock %}
    </div>
  </div>
</div>