<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ '/assets/main.css' | path }}">
    <title>Preview</title>
</head>
<body>

{{ yield }}

<script src="{{ '/assets/main.js' | path }}"></script>
</body>
</html>